body,html{
    margin:0;
    height:100%;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background-color: rgb(35, 165, 154);
    
}
.card{
    width:300px;
    height:400px;
    display:flex;
    flex-direction:column;
    justify-content:center;
        border-radius:5%;
    overflow: hidden; 
    background-color:white;
 
    /* fixes corners */
}

    .head-banner{
background-color: red;
height:100px;
padding: 15px 0;
border-bottom: 2px solid white;
    }

.pic{
  
  border-radius:50%;  
  transform:translate(98px,-55px);
  border: 2px solid white;

}

}  
.main{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    padding: 15px 0;
 
}  
.footer{
    text-align: center;
    padding:15px 0;
    display:flex;
    flex-direction:row;


    justify-content:stretch;
    align-self:center;
   

}
.footer span{
    padding: 0 15px;
    text-align: center;
}
.info{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    padding: 0 15px;
}
.info span {
    text-align:center;
    padding:0 15px 15px 15px;
}


}


footer{
    display:flex;
    height:50px;

}
.attribution{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-self: center;
    margin-top: 20px;

}



/* .attribution { 
    
    font-size: 11px; text-align: center; 
}
    .attribution a {
         color: hsl(228, 45%, 44%);
         }

#container{
    /* box-sizing: border-box; */
    /* border: solid 2px black;
    border-radius: 40%;
    width:500px;
    height:800px;
    display:flex;
    justify-content: center;
    align-items: center;

}  

img{
    display:block;
} */
 /* body{ 
     background-color: rgb(27, 134, 148);
     display:flex;
     justify-content: center;
     align-items: center;
     flex-direction:column;
     height:100vh;
     text-align: center; */
 /* .container{
     border:none;
     height:100vh;
     width:auto;
     background-color:rgb(35, 165, 159);
     display:flex;
     justify-content: center;
     align-items: center;
     overflow: hidden;
     
 }    
.card{
    width: 20em;
    height:30em;
    background-color:white;
    border-radius:5%;
    display:flex;
    flex-direction: column;
    text-align:center;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    


}   
.card > div{
    width:auto;
    height:60px;
    margin:auto;
   
}
.head{
    
}
.profilepic{
    border-radius: 50%;
}
.headbg{
    display:contents;
}
.info{
    align-content: center;

} */
} 
     

}
/* .name{
    text-align: center;
}
p{
    text-align: center;
} */
/* footer{
    display:flex;
    flex-direction:column;
} */
/* .attribution{
    display:block;
    justify-content:center;
    align-items:flex-end;
} */
