*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}
html{
    font-size:15px;
    font-family: Arial, Helvetica, sans-serif;

}
section{
    padding:10rem 0;
    background-color: rgb(35, 190, 178);
    height:100vh;

}
.container{
    display:flex;
    align-items: center;
    align-content:center;
    flex-direction:column;
}
.card{
    width:32rem;
     background-color: white;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    margin:2rem 0;
    box-shadow: .5rem .5rem 3rem rgba(0, 0, 0, 0.205);
    border-radius:5%;
    overflow: hidden;
}
.card .card-img{
    width:100%;
    height:10rem;
    object-fit: cover;
 

}
.card .profile-img{
    width:120px;
    height:120px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: -3em;
    z-index: 99;

    border: 0.5rem solid white;
}
.card h3{
    margin-top:1em;
    margin-bottom: 0.2em;
}
.card .age{
    color:rgb(158, 154, 154);
    font-weight:lighter;
}

.card .location{
    
    color:rgb(158, 154, 154);
}
.card .numbers{
    margin:1em 0 0.5em 0;
    text-align: center;
    border-top: 2px solid lightgray;
    width:100%;
    padding:15px 5px 0 5px;
    font-weight:bold; 
    font-size: 25px; 
}
.card .numbers > span{
    padding:5%;
}
.card .info{
    margin:0 0 1em 0;
    text-align: center;
}


